*,*::after, *::before{
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}

body{
  background-color: hsl(221, 95%, 8%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main_container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80% 1fr; 
 
}

.canvas{
  display: flex;
  background-color: white;
  justify-self: center;
  align-self: center;
}

.canvas_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: scroll;
}

.controls{
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  border: 2px solid orange;
  padding: 30px 0;
}

.image_form{
  display: flex;
  width: 100%;
  justify-content: center;
}

.image_input_label{
  width: 180px;
  padding: 10px 25px;
  border-radius: 10px;
  color: #80B03A;
  background-color: transparent;
  border: 2px solid #80B03A;
  font-weight: bold;
  transition: all 0.5s;
}

.image_input{
 display: none;
}

.image_input_label:hover, .image_input_label:focus{
  background-color: #80B03A;
  color: hsl(221, 95%, 8%);
  cursor: pointer;
}

.filter_button{
  width: 180px;
  padding: 10px 25px;
  border-radius: 10px;
  color: orange;
  background-color: transparent;
  border: 2px solid orange;
  font-weight: bold;
  transition: all 0.5s;
  pointer-events: all;
}

.filter_button:hover, .filter_button:focus{
  background-color: orange;
  color: hsl(221, 95%, 8%);
  cursor: pointer;
}

.disabled{
  color: darkgray;
  background-color: lightgray;
  border: 2px solid transparent;
  pointer-events: none;
}

.loading_indicator{
  text-align: center;
  width: 100%;
  color: orange;
  font-size: 24px;
  font-weight: bold;
  align-self: center;
  transition: all 0.5s 0.5s;
}

.indicatorOff{
  display: none;
  opacity: 0;
}

